body {
  font-family: "ff-meta-web-pro", sans-serif;
  background: #D4D4D3;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: #3A90AF; }

.wrapper {
  margin: 0 auto;
  width: 1215px; }

ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

.top-nav {
  font-family: 'Lato', sans-serif;
  border-bottom: solid 6px #DEDEDD;
  position: relative; }
  .top-nav .logo {
    vertical-align: top;
    display: inline-block;
    padding: 52px 22px 3px 0;
    cursor: pointer; }
    .top-nav .logo circle, .top-nav .logo polygon {
      -webkit-transition: fill 0.1s linear 0s;
      -moz-transition: fill 0.1s linear 0s;
      -o-transition: fill 0.1s linear 0s;
      transition: fill 0.1s linear 0s; }
    .top-nav .logo circle {
      fill: #8D999E; }
    .top-nav .logo polygon {
      fill: #FFFFFF; }
    .top-nav .logo:hover * {
      fill: #565757; }
  .top-nav .title-block {
    height: 75px;
    overflow: hidden;
    font-size: 64px;
    padding-top: 10px;
    font-weight: 900;
    color: #565757;
    text-transform: uppercase;
    display: inline-block; }
  .top-nav .nav {
    position: absolute;
    right: 0;
    top: 54px; }
    .top-nav .nav a {
      -webkit-transition: color 0.1s linear 0s;
      -moz-transition: color 0.1s linear 0s;
      -o-transition: color 0.1s linear 0s;
      transition: color 0.1s linear 0s;
      color: white;
      padding: 10px;
      font-size: 19px;
      letter-spacing: 1px;
      cursor: pointer; }
      .top-nav .nav a:hover {
        color: #565757; }
      .top-nav .nav a:after {
        content: "/";
        display: inline-block;
        color: #8D999E;
        font-weight: bold;
        margin-left: 12px;
        margin-right: -10px; }
      .top-nav .nav a:last-of-type {
        padding-right: 0; }
        .top-nav .nav a:last-of-type:after {
          display: none; }

.portfolio-index .project {
  display: inline-block;
  cursor: pointer;
  margin: 20px 80px 20px 0; }
  .portfolio-index .project:after {
    content: "";
    display: block;
    width: 215px;
    height: 215px;
    background: url(/assets/portfolio-thmbs.jpg);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0pt white;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.63, 0, 0, 1) 0s;
    -moz-transition: box-shadow 0.3s cubic-bezier(0.63, 0, 0, 1) 0s;
    -o-transition: box-shadow 0.3s cubic-bezier(0.63, 0, 0, 1) 0s;
    transition: box-shadow 0.3s cubic-bezier(0.63, 0, 0, 1) 0s; }
  .portfolio-index .project:hover:after {
    box-shadow: 0px 0px 0px 10pt white;
    -webkit-transition: box-shadow 0.1s linear 0s;
    -moz-transition: box-shadow 0.1s linear 0s;
    -o-transition: box-shadow 0.1s linear 0s;
    transition: box-shadow 0.1s linear 0s; }
  .portfolio-index .project.ibex:after {
    background-position: 0px -0px; }
  .portfolio-index .project.resistance:after {
    background-position: -211px -0px; }

.meta-data {
  padding: 40px 0 0 0; }
  .meta-data .overview, .meta-data .my-role, .meta-data .collaborators, .meta-data .client {
    font-family: "ff-meta-web-pro", sans-serif;
    font-style: italic;
    color: #939394;
    font-size: 14px;
    margin-right: 33px; }
    .meta-data .overview:before, .meta-data .my-role:before, .meta-data .collaborators:before, .meta-data .client:before {
      content: "";
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: block;
      border-bottom: solid 2px #DEDEDD;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
      color: #565757; }
  .meta-data .overview:before {
    content: "overview"; }
  .meta-data .my-role:before {
    content: "contributions"; }
  .meta-data .collaborators:before {
    content: "collaborators"; }
  .meta-data .client:before {
    content: "client"; }
  .meta-data .overview {
    font-size: 16px; }
  .meta-data .client {
    margin-right: 0; }
