$buttonHeight     :80px;
$mapWidth         :240px;
$projectItemHeight:40px;

.overlay-nav       { position: fixed; top: 50%; width:100%; 
  .right, .left    { width:$buttonHeight; height: $buttonHeight; margin-top:$buttonHeight/-2; border-radius: 50%; background: rgba(white, 0.9); cursor:pointer; 
    &:after        { content:"Prev Project"; display:block; font-style: italic; font-size:14px; width:45px; text-align: center; line-height: 16px; color:#1177AB; margin:21px auto;}
  }
  .left            { float:left;  margin-left:20px;}
  .right           { float:right; margin-right:20px;
    &:after        { content:"Next Project";}
  }

}

.map                { position:fixed; width: $mapWidth; margin-right: auto; margin-left: auto; right:0; left:0; top: 50%;
  .project          { width:$projectItemHeight; height:$projectItemHeight; border-radius: 50%; background: white; display: inline-block; margin:10px;
    &.active        { background: #80D2E9; opacity:1;}
    &.visited       { background: rgba(white,0.4);
      &:after       { content:""; display:block; width:60px; height:3px; background: white; @include rotate(-45deg); float:left; margin-top:17px; margin-left:-10px}
    }
    &.active.visited{ background:#80D2E9; 
      &:after       { content:""; display:none}
    }
  }
}