.top-nav                    { font-family:$lato; border-bottom: solid 6px $light-gray; position: relative; 
  .logo                     { vertical-align:top; display: inline-block; padding: 52px 22px 3px 0; cursor:pointer;
    circle, polygon         { @include transition(fill, 0.1s); }
    circle                  { fill:#8D999E; }
    polygon                 { fill:#FFFFFF; }
    &:hover *               { fill:#565757; }
  }
  .title-block              { height:75px; overflow:hidden; font-size:64px; padding-top: 10px; font-weight:$lato-black; color:#565757; text-transform: uppercase; display:inline-block;}
  .nav                      { position: absolute; right:0; top:54px;
    a                       { @include transition(color); color:white; padding:10px; font-size:19px; letter-spacing: 1px; cursor: pointer;
      &:hover               { color:#565757; }
      &:after               { content:"/"; display:inline-block; color:#8D999E; font-weight: bold; margin-left:12px; margin-right: -10px; }
      &:last-of-type        { padding-right: 0;
        &:after             { display:none;}
      }
    }
  }
}