.top-nav                    { font-family:$lato; border-bottom: solid 6px #DEDEDD; position: relative;
  .logo                     { display: inline-block; padding:20px 22px 0 0; cursor:pointer;
    circle                  { fill:#8D999E; }
    polygon                 { fill:#FFFFFF; }
    &:hover *               { fill:#FFFFFF; }
  }
  .title-block              { font-size:64px; padding-top: 10px; font-weight:$lato-black; color:#565757; text-transform: uppercase; display:inline-block;}
  .nav                      { position: absolute; right:0; top:43px;
    a                       { color:white; padding:10px; font-size:19px; letter-spacing: 1px; 
      &:hover               {  }
      &:after               { content:"/"; display:inline-block; color:#8D999E; font-weight: bold; margin-left:12px; margin-right: -10px; }
      &:last-of-type        { padding-right: 0;
        &:after             { display:none;}
      }
    }
  }
}