// Colors
$light-gray : #DEDEDD;


// 
$lato:'Lato',sans-serif;
$meta: "ff-meta-web-pro",sans-serif;

// Font Weights
$lato-bold :700;
$lato-black:900;

@mixin transition ($property:all, $duration:0.1s, $timing:linear, $delay:0s) {
  @if $property != none {
    -webkit-transition: $property $duration $timing $delay;
    -moz-transition: $property $duration $timing $delay;
    -o-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
  } @else {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@mixin drop-shadow ($xoffset:0px, $yoffset:1px, $blur:13px, $color:#727272, $radius:0px) {
  -webkit-box-shadow: $xoffset $yoffset $blur $radius $color;
  -moz-box-shadow: $xoffset $yoffset $blur $radius $color;
  box-shadow: $xoffset $yoffset $blur $radius $color;
}

@mixin rotate ($deg:45deg) {
  -ms-transform: rotate($deg); 
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform:rotate($deg);
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content:space-between;
  -moz-justify-content:space-between;
  -ms-justify-content:space-between;
  -webkit-justify-content:space-between;
  justify-content:space-between;
}

@mixin flexitem() {
  -webkit-box-flex: 1;
  -moz-box-flex:  1;
  -webkit-flex:  1;
  -ms-flex:  1;
  flex:  1;
}

