.portfolio-index
  each row, index in DataVo.projectsGrid
    .row
      each project, index in row
        .project(class=project.id, onclick="PubSub.publish( 'CHANGE_PAGE', { pageId:'" + project.id + "'} )") 
