.logos
  .three-sketches
    .pagoda.logo
      .descript Pagoda Box
      img(src="assets/logos/pagoda-box.gif")
    .distinctive.logo
      .descript Distinctive Creations
      img(src="assets/logos/distinctive-creations.gif")
    .leprechaun.logo
      .descript Leprechaun's Box
      img(src="assets/logos/leprechaun-box.gif")
  .pure-g.long-sketch
    .descript Ideation Sketches
    img(src="/assets/logos/long-sketch.jpg")