.pagoda-pricing
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .client.pure-u-1-4 Resistance Movement Movie
  
  .pure-g
    .pure-u-1.ipad.top
      img(src="/assets/pagoda-pricing/landing.jpg")
    .pure-u-1.ipad
      img(src="/assets/pagoda-pricing/in-action.jpg")
    .pure-u-1.pawns.vector-pawns
      img(src="/assets/pagoda-pricing/pawns.gif")
    .pure-u-1.pawns
      img(src="/assets/pagoda-pricing/pawn-sketches.jpg")