.resistance
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .client.pure-u-1-4 Resistance Movement Movie
  
  .pure-g
    .pure-u-1-3.play-poster
      img(src="/assets/resistance/poster.jpg")
    .pure-u-2-3.walking 
      img(src="/assets/resistance/walking.jpg") 

  .pure-g.mid
    .pure-u-1-3
      img.hitler-youth(src="/assets/resistance/youth.jpg")
      img.paper(src="/assets/resistance/paper.jpg")
    .pure-u-2-3
      img.browser(src="/assets/resistance/browser-final.jpg")

  .pure-g.resist.three
    .pure-u-1-3.lies
      img(src="/assets/resistance/lies.jpg")
    .pure-u-1-3.leaflet
      img(src="/assets/resistance/leaflet.jpg")
    .pure-u-1-3.enemy
      img(src="/assets/resistance/enemy.jpg")
      
   