.top-nav
  .logo
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='35.138px', height='23.489px', viewbox='0 0 35.138 23.489', style='enable-background: new 0 0 35.138 23.489;', xml:space='preserve')
      polygon.st1(points='0,23.489 12.762,1.385 25.524,23.489 ')
      circle.st0(cx='31.95', cy='20.302', r='3.188')
  .title-block Resistance Movement
  .nav
    a(href="#", data="work") WORK
    a(href="#", data="about") ABOUT
    a(href="#", data="contact") CONTACT