.design_poster  {
  .top          {position: relative;}
  a             { position: absolute; cursor:pointer; top:8px; right:10px;
    svg         { 
      .bg       { fill:#ED4655; opacity:0; @include transition; }
      .st0      { fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
      .st1      { fill:#80D2E9;}
      .st2      { fill:#ED4655;}
      .st3      { fill:#FFFFFF;}
      .st4      { font-family:'Lato-Bold';}
      .st5      { letter-spacing:1px;}
      .st6      { font-size:14px;}
      .st7      { fill:none;stroke:#EDEEF1;stroke-width:3;stroke-miterlimit:10;}
      .blue     { @include transition; }
    }
    &:hover     {
      svg       {
        .bg     { opacity:0.7; }
        .blue   { fill:black; }
      }
    }
  }
}
