.form-studies    { 
  .first         { margin-top:90px}
  img            { margin:0 auto;   }
  .image         { position: relative; margin-right: 190px; display: inline-block;
    .mini-descript {  position:absolute; bottom:0; right:133px; font-size:13px; font-style: italic; color:#9D9D9E; display:block; width:116px; margin-left:20px; line-height: 17px; right: -145px; }
  }
  .dark img      { border-color:#2B2B2D ;}
}
