.pagoda-pricing                {
  .vid                         {
    video                      { display: block; @include drop-shadow(); margin:0 auto;}
  }
  .ipad, .pawns                { margin:70px 0 0 0;
    img                        { margin:0 auto; diaplay:block; }
  }
  .vector-pawns img            { margin-bottom:30px; padding:0 50px 90px; border-bottom:solid 1px #5AC8DB;}
}
