.pagoda-home          {
  .top                { margin-bottom:30px}
  .details            { position: relative; 
    &:before, &:after { content: ""; border-right:solid 1px #BCBCBB; position: absolute;  }
    &:after           { top:-430px; height: 1000px; right:0; }
    &:before          { top:280px; height: 800px; }
  }
  .datacenter-bug     { margin-top:130px; 
    img                { @include center(); }
  }
  .languages          { margin:30px 0 0 0;
    img               { @include center(); padding: 100px 0 0 0; border-top:solid 1px #BBB; }
  }
}