.resistance                   {
  .pure-g  {margin-bottom:110px;}
  .meta-data.pure-g  {margin-bottom:60px;}

  .lies, .leaflet, .enemy     { 
    img                       { @include drop-shadow(0px, 1px, 6px, #888); }
  }
  .mid                        { margin-top:60px;
    .hitler-youth             { margin:0 0 0 20px; }
    .paper                    { margin:0 0 0 100px; }
    .browser                  { margin-left:6px; @include drop-shadow(0px, 1px, 6px, #444);}
  }
  .three                      { margin-top:60px ;
    .leaflet img              { margin:0 auto;}
    .lies img                 { }
    .enemy img                { float:right;}
  }
}