.resistance                   {
  .lies, .enemy, .leaflet { background:url(/assets/resist-posters.jpg); width:350px; height:523px; background-position:-0px -0px;}
  .lies                   {  } 
  .enemy                  { margin:0 auto; width:348px; height:523px; background-position:-351px -0px; } 
  .leaflet                { float: right; width:348px; height:523px; background-position:-702px -0px; }
  .play-poster            {  }
}