doctype html
html(lang="en")
  
  head
    title Portfolio
    link(rel="shortcut icon", type="image/png", href="/assets/favicon.png")

  body
    img(src="/assets/client/rms/geology-presentation.png", alt="Overview")
    
