doctype html
html(lang="en")
  
  head
    title Portfolio
    link(rel="shortcut icon", type="image/png", href="/assets/favicon.png")

  body(style="background:#BCBCB5; text-align:center;")
    img(style="margin:0 auto; " src="/assets/client/rms/geology-presentation.png", alt="Overview")
    
