.boneyard
  .meta-data.pure-g
    .overview.pure-u-5-12 Old work long forgotten, ideas that were killed before their time, We pay homage to you.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Programming
    .pure-u-1-24
    .client.pure-u-1-4 Delorum Design 
  .pure-g
    .pure-u-1
      img(src="/assets/grandpa/oliver-computer.jpg") 
  .pure-g
    .pure-u-1
      img(src="/assets/grandpa/frames.jpg") 
  
  .pure-g.line

  .pure-g
    .pure-u-1
      img(src="/assets/odds-and-ends/letters.jpg") 