.delorum
  .meta-data.pure-g
    .overview.pure-u-5-12 I co-founded Delorum design in 2004. I felt the work should be the central focus, and sought to create a neutral canvas that allowed the work to stand independent. 
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Development
    .pure-u-1-24
    .client.pure-u-1-4 Delorum Design 
  .pure-g
    .pure-u-1
      .browser.first
        .play-vid(data-src='compiled')
        img(src="/assets/delorum/site-a-dark.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-b.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-c.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-d.png") 
