.delorum
  .meta-data.pure-g
    .overview.pure-u-5-12 Portfolio site for desing firm Delorum. I wanted to create a pleasing user experience set against a neutral canvas that felt rich and fluid without stealing the attention from the work.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Development
    .pure-u-1-24
    .client.pure-u-1-4 Delorum Design 
  .pure-g
    .pure-u-1
      .browser.first
        .wrap
          .play-vid(data-src='delorum')
          img(src="/assets/delorum/site-a-dark.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-b.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-c.jpg") 
    .pure-u-1
      .browser
        img(src="/assets/delorum/site-d.png") 
