.design_poster
  .meta-data.pure-g
    .overview.pure-u-5-12 This chart describes the methods and processes by which designers move from receiving a statement of need to delivering a final design. Instead of defining a series of linear steps, I have represented design as a series of general phases. Each phase generates specific phase deliverables which become the foundation of the phase that follows. 
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .pure-u-1-24
      
  .pure-g
    .pure-u-1
      img(src="/assets/design-poster/full-poster.jpg")
  .pure-g
    .pure-u-1
      img(src="/assets/design-poster/detail1.gif")      
  .pure-g
    .pure-u-1.top
      img(src="/assets/design-poster/poster-new-snap.jpg") 
      a(href="/assets/design-poster/DesignProcess1.pdf", target="_BLANK")
        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='258.544px', height='259.81px', viewBox='0 0 258.544 259.81', style='enable-background:new 0 0 258.544 259.81;', xml:space='preserve')
          style(type='text/css')
          g
            circle(class="bg", cx="129.111", cy="129.348", r="111.114")
            g
              rect.st3(x='54.893', y='93.032', width='149.391', height='74.635')
              line.st7(x1='129.587', y1='93.032', x2='129.587', y2='122.231')
              line.st7(x1='165.05', y1='93.032', x2='165.05', y2='122.231')
              line.st7(x1='91.284', y1='93.032', x2='91.284', y2='122.231')
              line.st7(x1='129.587', y1='139.139', x2='129.587', y2='167.607')
              line.st7(x1='165.05', y1='139.139', x2='165.05', y2='167.607')
              line.st7(x1='91.284', y1='139.139', x2='91.284', y2='167.607')
              rect.st2(x='60.577', y='99.765', width='15.637', height='3.659')
              rect.st2(x='98.864', y='99.765', width='15.639', height='3.659')
              rect.st2(x='137.152', y='99.765', width='15.638', height='3.659')
              rect.st2(x='175.44', y='99.765', width='15.639', height='3.659')
            g
              circle.st1.blue(cx='130.589', cy='178.78', r='25.293')
              polyline.st0(points='144.045,179.975 130.588,193.434 117.131,179.975     ')
              line.st0(x1='130.588', y1='193.434', x2='130.588', y2='163.343')
            text.st3.st4.st6.st5(transform='matrix(1 0 0 1 67.7036 77.6304)') DOWNLOAD PDF
  .pure-g
    .phases
      .phase
        .title RESEARCH
        .summary It is important to approach this phase with an open mind. Designers have a tendency to begin designing the moment they hear the basic premise. Sometimes this works, however this can be dangerous. Without research, there is no way of knowing whether our initial understanding of the audience, product, or need are correct. We research to see things as they really are.
        .point
          .title Prioritization
          .blurb The research phase is also the process of prioritizing the effects of the design. Since no design is capable of answering an infinite number of criteria, The most important criteria must be identified and ranked.
        .point
          .title Problem Definition
          .details
            .detail Defining problems with current artifact
            .detail Identify areas needing improvement. 
            .detail Identifying areas of greatest potential return
          .blurb Research is necessary for understanding which prob- lems should be addressed. Doing so will prevent the designer from spending resources creating the right solution for an irrelevant problem.
        .point
          .title Who are the stakeholders
          .details
            .detail Identify individuals with a vested interest in project Identify the key decision makers
            .detail Identify the people who will be affected
          .blurb Understanding the stakeholders (as well as the audience) will prevent designers from presenting an idea that won’t makeit past the gatekeepers. On the other hand second-guessing stakeholder reaction will inhibit exploration. Rather, this knowledge is valuable for crafting the presentation of ground breaking ideas to the decision maker in the most palatable way.
        .point
          .title Field Research
          .details
            .detail Ethnographic studies 
            .detail Interview relevant parties 
            .detail Gather stories 
            .detail Competitor Audit
          .blurb By observing practitioners in a real environment, designers gain a better understanding of the audience. This understanding helps designers avoid the fallacy that the audience thinks and responds exactly like the designer does.
        .point
          .title Understanding the Issues
          .details
            .detail Researching the technical issues 
            .detail Gather stories
            .detail Gather visual data
          .blurb The primary purpose of research is to gain an understanding of the core issues at hand.
        .handoff
          .to Ideation
          .item 
            .title Raw Materials
            .content A clear understanding of the issues and elements. The designer becomes an expert on the culture he is representing and the audience.
          .item
            .title Solution Criteria
            .content A set of criteria that a successful solution must meet. Who it will appeal to, the needs it will address and any other measurable criteria.
      
      .phase
        .title IDEATION
        .summary This is often the most difficult part of the design process to explain, quantify or analyze. The research phase has provided a clear set of requirements &amp; and a thorough understanding of the problem space. Cognitive elements are now combined to create new meaning.
        .point
          .title Exploration
          .details
            .detail Different point of view
          .blurb Changing our perspective relative to the problem definition will reveal new ideas and possibilities. Locking down too early in the process will limit the range of ideas.
        .point 
          .title Questioning Conventions
          .details
            .detail What if..
            .detail Does it have to be...
          .blurb To come up with better solutions, the designer must question current perceptions. Doing so may lead to ideas outside the defined problem space. Ascertain the reasons behind the current systems and ideas. Are they based on need, or tradition.anging our perspective relative to the problem definition will reveal new ideas and possibilities. Locking down too early in the process will limit the range of ideas.
        .point
          .title Making the invisible visible
          .details
            .detail Sketching + Word Lists
          .blurb Drawing and writing transforms abstract ideas into physical artifacts. When these concepts are visible, we are able to see their potential with more clarity than when they are in the ether of our mind.
        .point
          .title Creating artificial constraints
          .blurb Our minds are solution oriented. It is easier to find solutions when we have a well defined problem. Introducing artificial constraints allows the mind to search for work arounds – ways of answering the criteria despite limitations.
        .point 
          .title Making Connections
          .details
            .detail Looking for Juxtapositions
            .detail Looking for interesting combinations
          .blurb Combining elements creates new entities. The meanings embedding in these elements blend to create new meaning.
        .handoff
          .to Form Giving
          .item 
            .title Abstract Concepts
            .content A logical idea for answering the criteria established in the research phase. This concept represents the elements of the problem space in a elegant and relevant way
    
      .phase
        .title FORM GIVING
        .summary This is the process of giving an idea spatial form. Care is taken to ensure that stylistic decisions are in harmony with core concepts and message. This is the process of eliminating elements that are not essential to the idea. Often designers jump into this phase too early because the results are more tangible. Doing so is less effective because formal decisions that are not based upon an ideas are hollow like frosting on styrofoam.
        .point
          .title Prototype Creation
          .details
            .detail Explorations in the computer 
            .detail Mock-up creation at full size 
            .detail Evaluation and review
          .blurb Prototypes can inform the designer of flaws in the design before it is produced. Prototypes also allow you to put your design in front of more people. Welcome critique, but weigh comments against solution criteria before adopting suggestions.
        .point
          .title Shifting Medium
          .blurb Change the medium of exploration when stuck on one formal train of thought. Consider unusual mediums such as legos or fingerpaints as well as traditional pens and pencils.
        .point
          .title Stylistic Exploration
          .details
            .detail Formal language definition 
            .detailImage &amp; Graphic creation 
            .detail Typographic style choice
          .blurb The stylistic decisions will add the correct emotion and voice to the concept. It is tempting to comman- deer a trendy style and apply it blindly to the design. Avoid this. Stylistic decision should be purposeful and intelligent.
        .point
          .title Formal exploration
          .blurb Sketching to explore division of space Exploring visual language embedded in subject Exploratory photographic sketches
        .point
          .title Principles of design
          .details
            .detail Symmetrical &amp; asymmetrical balance 
            .detail Interesting division of space
            .detail Establishing a grid structure 
            .detail Repetition with variation
            .detail Active negative space 
            .detail Big medium small
          .blurb Arranging elements intelligently according to the principles of design allow the designer to empha- size the correct elements, establish clear hierar- chy, and create dynamic designs.
        .point
          .title Happy Accidents
          .blurb At times the act of experimentation reveals unexpected and successful results. Create a system for preserving your designs as you explore. Doing so will allow you to retain any interesting discoveries. The final design is often a combination of the best facets of multiple explorations.
        .point
          .title Temporary Insanity
          .blurb A portion of the formal exploration can be spent trying unusual, unexpected and wildly inappropriate forms. Doing so frees the designer from the constraints of sane thinking (if only temporarily). The line between genius and madness is often a thin one. Try to avoid evaluating the feasibility of the forms at this point.
        .handoff
          .to Realization
          .item 
            .title Finished Plans
            .content Final plans are presented to the producer. Care is taken to ensure smooth translation into the finished artifact.
  
      
      
      .phase
        .title REALIZATION
        .summary When the design is complete, it is then produced. Care is taken to prepare the designs so the produced artifact will remain true to the design. An awareness of this phase must be maintained throughout all of the phases. Finding balance between technical constraints and innovation is key.
        .point 
          .title Hand off
          .details
            .detail Preparation of files for fulfillment 
            .detail Digital Files given to printer or engineer
          .blurb The producer will have preferences for the format, structure, and preparation of the designs. Working closely with the producer when preparing designs for hand off will help him produce an accurate artifact.
        .point
          .title Responsibility + Stewardship
          .blurb There should be a clear division of responsibility so the designer can ensure he has done all in his power to prepare the items under his control for production. In the unfortunate event of a flawed production, clear divisions of stewardship will simplify the process of fault assignment and protect each party.
        .point
          .title Quality Control
          .details
            .detail Preparation of files for fulfillment
            .detail Digital Files given to printer or engineer
          .blurb Gain an understanding of the technical requirements as early in the design process as possible to avoid creating a design that is not producable.
        .point 
          .title Budget
          .blurb Design needs are weighed against budget constraints in an effort to produce the highest quality piece for the lowest investment.
        .point
          .title Deadline and Production Schedule
          .blurbA Clearly defined production schedule with specific hand-off points is necessary to ensure delivery. Understanding production time requirements will prevent unpleasant surprises. Try to allow some leeway when possible.
