.design_poster
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .client.pure-u-1-4 Resistance Movement Movie
  .pure-g
    .pure-u-1.top
      img(src="assets/placeholder.png", data-src="/assets/design-poster/poster-new-snap.jpg") 
      a(href="/assets/design-poster/DesignProcess1.pdf", target="_BLANK")
        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='258.544px', height='259.81px', viewBox='0 0 258.544 259.81', style='enable-background:new 0 0 258.544 259.81;', xml:space='preserve')
          style(type='text/css')
          g
            circle(class="bg", cx="129.111", cy="129.348", r="111.114")
            g
              rect.st3(x='54.893', y='93.032', width='149.391', height='74.635')
              line.st7(x1='129.587', y1='93.032', x2='129.587', y2='122.231')
              line.st7(x1='165.05', y1='93.032', x2='165.05', y2='122.231')
              line.st7(x1='91.284', y1='93.032', x2='91.284', y2='122.231')
              line.st7(x1='129.587', y1='139.139', x2='129.587', y2='167.607')
              line.st7(x1='165.05', y1='139.139', x2='165.05', y2='167.607')
              line.st7(x1='91.284', y1='139.139', x2='91.284', y2='167.607')
              rect.st2(x='60.577', y='99.765', width='15.637', height='3.659')
              rect.st2(x='98.864', y='99.765', width='15.639', height='3.659')
              rect.st2(x='137.152', y='99.765', width='15.638', height='3.659')
              rect.st2(x='175.44', y='99.765', width='15.639', height='3.659')
            g
              circle.st1.blue(cx='130.589', cy='178.78', r='25.293')
              polyline.st0(points='144.045,179.975 130.588,193.434 117.131,179.975     ')
              line.st0(x1='130.588', y1='193.434', x2='130.588', y2='163.343')
            text.st3.st4.st6.st5(transform='matrix(1 0 0 1 67.7036 77.6304)') DOWNLOAD PDF

  .pure-g
    .pure-u-1
      img(src="assets/placeholder.png", data-src="/assets/design-poster/full-poster.jpg")
