.form-studies
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .client.pure-u-1-4 Resistance Movement Movie
  
  .pure-g.first
    .pure-u-1
      .image
        img(src="/assets/form-studies/smallest/form-studies1.jpg") 
        .mini-descript Water pouring across the surface of the tool
      .image
        img(src="/assets/form-studies/smallest/form-studies2.jpg") 
        .mini-descript Sunday tights stretched around the tool
  .pure-g
    .pure-u-1
      .image
        img(src="/assets/form-studies/smallest/form-studies3.jpg") 
        .mini-descript Tool frozen in a solid block of ice
      .image
        img(src="/assets/form-studies/smallest/form-studies4.jpg") 
        .mini-descript Pins pushed through the tool's holes
  .pure-g
    .pure-u-1
      .image
        img(src="/assets/form-studies/smallest/form-studies5.jpg") 
        .mini-descript Colored paper and frosted glass
      .image
        img(src="/assets/form-studies/smallest/form-studies7.jpg") 
        .mini-descript Colored paper and frosted glass
  .pure-g
    .pure-u-1
      .image
        img(src="/assets/form-studies/smallest/form-studies6.jpg") 
        .mini-descript Spray paint sprayed through tool's holes
      .image
        img(src="/assets/form-studies/smallest/form-studies8.jpg") 
        .mini-descript Placed on car antanae and viewed though rainy windshied
  .pure-g
    .pure-u-1
      .image
        img(src="/assets/form-studies/smallest/form-studies9.jpg") 
        .mini-descript Tool moving,<br/>long exposure
      .image
        img(src="/assets/form-studies/smallest/form-studies10.jpg") 
        .mini-descript Soaked in alcohol,<br/>lit on fire
