.form-studies
  .meta-data.pure-g
    .overview.pure-u-5-12 These images are studies in form. Each image is a visual variation upon on a small iron blade used for shaving wood. The rapid experimenting and new looking involved in this piece made it one of the most enjoyable and refreshing projects I have ever worked on. These photographs represent a sampling of the some 800 images I made of the blade.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Composition & Photography
  
  .pure-g.first
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies1.jpg") 
        .mini-descript Water pouring across the surface of the tool
    .pure-u-4-24
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies2.jpg") 
        .mini-descript Sunday tights stretched around the tool
  .pure-g
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies3.jpg") 
        .mini-descript Tool frozen in a solid block of ice
    .pure-u-4-24
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies4.jpg") 
        .mini-descript Pins pushed through the tool's holes
  .pure-g
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies5.jpg") 
        .mini-descript Colored paper and frosted glass
    .pure-u-4-24
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies7.jpg") 
        .mini-descript Colored paper and frosted glass
  .pure-g
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies6.jpg") 
        .mini-descript Spray paint sprayed through tool's holes
    .pure-u-4-24
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies8.jpg") 
        .mini-descript Placed on car antanae and viewed though rainy windshied
  .pure-g
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies9.jpg") 
        .mini-descript Tool moving,<br/>long exposure
    .pure-u-4-24
    .pure-u-8-24
      .image
        img(src="/assets/form-studies/smallest/form-studies10.jpg") 
        .mini-descript Soaked in alcohol,<br/>lit on fire
