.ibex
  .meta-data.pure-g
    .overview.pure-u-5-12 Ibex trucking hauls water used in the extraction of natural gas from the drilling fields of Pennsylvania and Wyoming. I shot these images on location to capture the noble working man humanity that is often invisible in a corporation's brand.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Photography
    .pure-u-1-24
    .client.pure-u-1-4 Ibex Incorporated
  .pure-g
    .pure-u-1
      img(src="/assets/ibex/pic1.jpg") 
  .pure-g
    .pure-u-1
      img(src="/assets/ibex/pic2.jpg") 
  .pure-g
    .pure-u-1
      img(src="/assets/ibex/pic3.jpg") 
  .pure-g
    .pure-u-1
      img(src="/assets/ibex/pic4.jpg") 
  .pure-g
    .pure-u-1
      img(src="/assets/ibex/pic5.jpg") 
