.justin-bw-v2
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Photography
    .pure-u-1-24
    .client.pure-u-1-4
      ul
        li Justin Cash
        li Shadow Mountain Records
  
  .pure-g
    .pure-u-1
      img(src="/assets/justin-bw-v2/a.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/b.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/c.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/d.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/e.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/f.jpg") 
    .pure-u-1
      img(src="/assets/justin-bw-v2/g.jpg") 