.logos
  .pure-g.three-sketches
    .pagoda.logo
      .descript Pagoda Box
      img(src="/assets/logos/pagoda-box.gif")
    .distinctive.logo
      .descript Distinctive Creations
      img(src="/assets/logos/distinctive-creations.gif")
    .leprechaun.logo
      .descript Leprechaun's Box
      img(src="/assets/logos/leprechaun-box.gif")
  .pure-g
    .descript Yellowstone Historic Center
    .pure-u-1-3
      img(src="assets/placeholder.png", data-src="assets/logos/yhc-logo.gif")
    .pure-u-2-3.yhc-stationary
      img(src="assets/placeholder.png", data-src="assets/logos/yhc-stationary.jpg")
  .pure-g
    .descript Talking Books
    .pure-u-1-3
      img(src="assets/placeholder.png", data-src="assets/logos/talking-books-logo.gif")
    .pure-u-1-3.talking-stationary
      img(src="assets/placeholder.png", data-src="assets/logos/talking-books-stationary.jpg")
    .pure-u-1-3
      img(src="assets/placeholder.png", data-src="assets/logos/talking-books-bag.jpg")
  .pure-g.long-sketch
    .descript Ideation Sketches
    .pure-u-1
      img(src="assets/placeholder.png", data-src="/assets/logos/long-sketch.jpg")