.mfa
  .meta-data.pure-g
    .overview.pure-u-5-12 As I've worked on large interactive projects where high complexity requires the collaboration of individuals from many different fields, I've found that design is often misunderstood and undervalued. This thesis outlines the purpose and value of design in an effort to clarify design's role and make good design repeatable by large technical teams.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Writing
        li Design
        li Illustration
    .pure-u-1-24
    .client.advisor.pure-u-1-4 Axel Roesler
  
  .pure-g.top
    .pure-u-1-3.poster
      img(src="/assets/mfa/mfa_poster5.jpg") 
    .pure-u-13-24.photo
      img(src="/assets/mfa/books1.jpg") 
  .pure-g.spreads
    .pure-u-1
      img(src="assets/mfa/spreads/red.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/red-circles.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/corbusier.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/bubble.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/yellow.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/deconstruction.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/letters.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/wicked-problems.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/clean-text-new.jpg")
    .pure-u-1
      img(src="assets/mfa/spreads/pencil.jpg")

