.nanobox-video
  .meta-data.pure-g
    .overview.pure-u-5-12 Explainer video for nanobox
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design / Direction
        li Writing
        li Music
    .pure-u-1-24
    .client.pure-u-1-4 Nanobox

  .pure-g
    .pure-u-1
      .video
        iframe(width="870" height="489" src="https://www.youtube.com/embed/DbEb8VubvUs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
