.odds-and-ends
  .pure-g.relative
    .pure-u-16-24
      img(src="/assets/odds-and-ends/books-WEB.jpg") 
    .pure-u-2-24
    .pure-u-5-24
      .side-descript.life
        h1 Book Series - Creating Life
        p Excercise in finding unexpected connections; three otherwise unrelated books connect by the theme of creating life. I shot the photography with emphasis on the hand as a symbol for autonomous thought. 
  .pure-g.line
  .pure-g.relative
    .pure-u-8-24
      img(src="/assets/odds-and-ends/americana-day.jpg") 
    .pure-u-1-24
    .pure-u-8-24
      img(src="/assets/odds-and-ends/americana-night-2.jpg") 
    .pure-u-1-24
    .pure-u-6-24
      .side-descript
        h1 Americana Theatre Posters
        p Play follows a man given a magic bear skin. The skin has a pocket containing a never ending supply of gold coins. However once he begins wearing the skin, he cannot remove it for 7 years.
  .pure-g.line
  .pure-g.relative
     .pure-u-7-24
     .pure-u-10-24.bluecoat
       img(src="/assets/odds-and-ends/bluecoat.jpg") 
     .pure-u-1-24
     .pure-u-4-24
       .side-descript
         p Identity illustration for the Bluecoat Buffalo band of which I am a member. 
  .pure-g.line
  .pure-g.relative
    .pure-u-7-24
    .pure-u-10-24
      img(src="/assets/odds-and-ends/literacy.jpg") 
    .pure-u-1-24
    .pure-u-6-24
      .side-descript
        h1 Literacty Poster
        p Looking to evoke an empathetic reaction in book lovers to the plight of the illiterate.


  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/grandpa/oliver-computer.jpg") 
  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/grandpa/frames.jpg") 
  
  //- .pure-g.line

  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/odds-and-ends/letters.jpg") 
