.odds-and-ends
  .pure-g.relative
    .pure-u-16-24
      img(src="/assets/odds-and-ends/books-WEB.jpg") 
    .pure-u-2-24
    .pure-u-5-24
      .side-descript.life
        h1 Book Series - Creating Life
        p Three otherwise unrelated books connect by the theme of creating life. I shot the photography with emphasis on the hand as a symbol for autonomous thought. 
  .pure-g.line
  .pure-g.relative
    .pure-u-8-24
      img(src="/assets/odds-and-ends/americana-day.jpg") 
    .pure-u-1-24
    .pure-u-8-24
      img(src="/assets/odds-and-ends/americana-night.jpg") 
    .pure-u-1-24
    .pure-u-6-24
      .side-descript
        h1 Americana Theatre Posters
        p Posters for a play about a man given a magic bear skin wherein he finds gold coins every time he puts his into his pocket. But once he puts it on, he cannot remove it for 7 years.
  .pure-g.line

  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/grandpa/oliver-computer.jpg") 
  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/grandpa/frames.jpg") 
  
  //- .pure-g.line

  //- .pure-g
  //-   .pure-u-1
  //-     img(src="/assets/odds-and-ends/letters.jpg") 
