.odds-and-ends
  .pure-g
    .pure-u-16-24
      img(src="assets/placeholder.png", data-src="/assets/odds-and-ends/books-WEB.jpg") 
  .pure-g.line

  .pure-g
    .pure-u-1
      img(src="assets/placeholder.png", data-src="/assets/grandpa/oliver-computer.jpg") 
  .pure-g
    .pure-u-1
      img(src="assets/placeholder.png", data-src="/assets/grandpa/frames.jpg") 
  
  .pure-g.line

  .pure-g
    .pure-u-1
      img(src="assets/placeholder.png", data-src="/assets/odds-and-ends/letters.jpg") 
