.pagoda-home
  .meta-data.pure-g
    .overview.pure-u-5-12 The Pagoda Box front site is the first touchpoint for new users. We have compressed extremely technical concepts into clear digestible chunks that can be quickly scanned and serve as jumping off points into deeper technical waters if desired.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
        li Programming
    .pure-u-1-24
    .client.pure-u-1-4 Pagoda Box
  
      
  .pure-g
    .pure-u-1
      img(src="/assets/pagoda-home/open-source.png") 
  
  //- .pure-g
  //-   .pure-u-7-12.details
  //-     img(src="/assets/pagoda-home/details.jpg") 
  //-   .pure-u-5-12.languages
  //-     img(src="/assets/pagoda-home/languages.gif") 
  //- 
  
  .pure-g
    .pure-u-1
      .browser
        .play-vid.hide-for-safari(data-src='home')
        img(src="/assets/pagoda-home/home-animation.png") 
  //- .pure-g
  //-   .pure-u-1
  //-     .browser
  //-       img(src="/assets/pagoda-home/home.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/chemistry.png") 
  //- .pure-g
  //-   .pure-u-1
  //-     .browser
  //-       img(src="/assets/pagoda-home/nanobox1.png") 
  //- .pure-g
  //-   .pure-u-1
  //-     .browser
  //-       img(src="/assets/pagoda-home/nanobox2.png") 


.pagoda-pricing
  //- .meta-data.pure-g
  //-   .overview.pure-u-5-12 Google analytics revealed that the majority of the site's traffic focused on the home page and the pricing page. Therefore, we leveraged the pricing page as a point-of-attention to present a compelling user experience and showcase the fluid nature of Pagoda Box's tools.
  //-   .pure-u-1-24
  //-   .my-role.pure-u-1-4
  //-     ul
  //-       li Design
  //-       li Illustration
  //-       li Programming
  //-   .pure-u-1-24
  //-   .client.pure-u-1-4 Pagoda Box
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-pricing/in-action-new.png")   

  .pure-g
    .pure-u-1
      .browser
        .play-vid(data-src='pricing')
        img(src="/assets/pagoda-pricing/landing.jpg") 

  .pure-g
    //- .pure-u-1.ipad.top
    //-   img(src="/assets/pagoda-pricing/landing.jpg")
    //- .pure-u-1.ipad
    //-   img(src="/assets/pagoda-pricing/in-action.jpg")
    .pure-u-1.pawns.vector-pawns
      img(src="/assets/pagoda-pricing/pawns.gif")
    .pure-u-1.pawns
      img(src="/assets/pagoda-pricing/pawn-sketches.jpg")
    
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/404.png") 