.pagoda-home
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
        li Development
    .pure-u-1-24
    .client.pure-u-1-4 Pagoda Box
    
  .pure-g
    .pure-u-1
      .browser
        .play-vid(data-src='home')
        img(src="/assets/pagoda-home/home-animation.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/home.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/chemistry.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/nanobox1.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/nanobox2.png") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-home/404.png") 
  .pure-g
    .pure-u-7-12.details
      img(src="/assets/pagoda-home/details.jpg") 
    .pure-u-5-12.languages
      img(src="/assets/pagoda-home/languages.gif") 

  .pure-g
    //- video(loop="", autoplay="")
      //- source( src="assets/pagoda-home/test1.mp4", type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' )
