.pagoda-dash
  .meta-data.pure-g
    .overview.pure-u-5-12 Pagoda Box is Platform as a Service (think automated hosting). When designing the dashboard, I wanted to convey the power and complexity of what is happening behind the scenes while presenting a simple and non-overwhelming UI to the user.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
    .pure-u-1-24
    .client.pure-u-1-4 Pagoda Box
  

  .pure-g
    .pure-u-1.center
      img(src="/assets/pagoda-dashboard/orig-1.jpg") 
  .pure-g
    .pure-u-1.center
      img(src="/assets/pagoda-dashboard/orig-2.jpg") 
  .pure-g
    .pure-u-1.center
      img(src="/assets/pagoda-dashboard/orig-3.jpg") 
  .pure-g
    .pure-u-1.center
      img(src="/assets/pagoda-dashboard/grid.png") 

  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-dashboard/a.png") 

  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-dashboard/c.jpg") 
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-dashboard/d.png") 
  
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-dashboard/b.png") 
  
  .pure-g
    .pure-u-1
      .browser
        img(src="/assets/pagoda-dashboard/f.png") 