.playmill
  .meta-data.pure-g
    .overview.pure-u-5-12 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .client.pure-u-1-4 Resistance Movement Movie
  
  .pure-g
    .pure-u-1
      img(src="/assets/playmill/compilation-web2.jpg") 

  .pure-g
    .pure-u-1-4
      .tall-poster
        img(src="/assets/playmill/guys+dolls.jpg") 
    .pure-u-5-24
      .tall-poster
        img(src="/assets/playmill/hands.jpg") 
    .pure-u-13-24
      img(src="/assets/playmill/cover.jpg") 

  .pure-g
    .pure-u-1-4
      .tall-poster
        img(src="/assets/playmill/annie-get-yer-gun.jpg") 
    .pure-u-3-4
      img(src="/assets/playmill/annie-close.jpg") 

  .pure-g.sketches
    img(src="/assets/playmill/sketches-compiles.jpg") 