.playmill
  .meta-data.pure-g
    .overview.pure-u-5-12 This frenetic illustration style references Playmill Theatre's signature pre-show. The hand-drawn typography adds a vintage feel and purposefully evokes the analogue nature of theatre in purposeful contrast to today's digital entertainment.
    .pure-u-1-24
    .my-role.pure-u-1-4
      ul
        li Design
        li Illustration
    .pure-u-1-24
    .client.pure-u-1-4 Playmill Theatre

  .pure-g
    .pure-u-1-4
      .tall-poster
        img(src="/assets/playmill/annie-get-yer-gun.jpg") 
    .pure-u-3-4
      img(src="/assets/playmill/annie-close.jpg") 
      
  .pure-g
    .pure-u-1
      img(src="/assets/playmill/compilation-web2-new.jpg") 

  .pure-g
    .pure-u-1-4
      .tall-poster
        img(src="/assets/playmill/guys+dolls.jpg") 
    .pure-u-5-24
      .tall-poster
        img(src="/assets/playmill/hands.jpg") 
    .pure-u-13-24
      img(src="/assets/playmill/cover.jpg") 


  //-     
  //- .pure-g.sketches
  //-   img(src="/assets/playmill/sketches-compiles.jpg") 