.student.design_drawing
  .meta-data.pure-g
    .overview.pure-u-14-24.
      Drawing for Design Communication is the
      introductory design course taken by all
      Industrial and Graphic design majors. It
      seeks to prepare students to visualize and
      discuss ideas rapidly and professionally.
      This class is not necessarily about creating
      polished finished artwork. Rather we were
      trying to teach students how to think and
      communicate with drawing. We begin
      with line and circles studies calculated to
      increase drawing speed, understand the
      expressive qualities of line, and remove
      timidity. We then move into perspective.
      However we avoid formal perspective in
      favor of an intuitive perspective. Intuitive
      perspective is concerned more with
      capturing three- dimensional space quickly
      and accurately than with constructing a
      mathematically perfect drawing. 
    .pure-u-1-24
    .client.teacher.pure-u-9-24
      li Teacher : <span>Axel Roesler</span>
      li My Role : <span>Teaching Assistant</span>
      p.
        University of Washington<br/>
        55 students in class<br/>
        Sophomore Level
      
    .pure-g
      img(src="/assets/students/uw-design-drawing/crop0011.jpg")
      img(src="/assets/students/uw-design-drawing/crop0002.jpg")
      img(src="/assets/students/uw-design-drawing/crop0003.jpg")
      img(src="/assets/students/uw-design-drawing/crop0008.jpg")
      img(src="/assets/students/uw-design-drawing/crop0017.jpg")
      img(src="/assets/students/uw-design-drawing/crop0024.jpg")
      img(src="/assets/students/uw-design-drawing/crop0025.jpg")
      img(src="/assets/students/uw-design-drawing/crop0026.jpg")
      img(src="/assets/students/uw-design-drawing/Untitled-12.jpg")
      img(src="/assets/students/uw-design-drawing/scan0003.jpg")
      img(src="/assets/students/uw-design-drawing/scan0018.jpg")
      img(src="/assets/students/uw-design-drawing/scans_0.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_28.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_29.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_32.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_36.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_39.jpg")
      img(src="/assets/students/uw-design-drawing/lines+circles_42.jpg")
