.student.hc_design
  .meta-data.pure-g
    .overview.pure-u-14-24 This project is meant to introduce students to various designers, architects and design firms while providing them an opportunity to work in a multi-disciplinary team. Each four person team, composed of industrial and graphic designers, selected a designer from a list. They were then to construct a 7-inch cube in the formal language of that designer. Furthermore, they were to create a tri-fold brochure about their designer; again in the stylistic language of that designer. This challenged students to identify and apply the formal qualities of their designer’s work across two different mediums. It also allowed them to work in a group as a specialist, thus avoiding the role confusion suffered by many collaborative groups which are entirely composed of individuals from only one discipline.
    .pure-u-1-24
    .client.teacher.pure-u-9-24
      li Teacher : <span>Axel Roesler</span>
      li My Role : <span>Teaching Assistant</span>
      p.
        University of Washington<br/>
        55 students in class<br/>
        Sophomore Level
      
    .pure-g
      img(src="/assets/students/uw-human-centered/c_r_eames_flat.jpg")
      img(src="/assets/students/uw-human-centered/red_dot_flat.jpg")
      img(src="/assets/students/uw-human-centered/CRW_2963-flat.jpg")
      img(src="/assets/students/uw-human-centered/CRW_3050a.jpg")
      img(src="/assets/students/uw-human-centered/BernardTschumi-1.gif")
      img(src="/assets/students/uw-human-centered/BernardTschumi-2.gif")
                                    
